@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
$primary: #333333; // Dark Black
$link: #444444; // Slightly Darker Black
$info: #555555; // Dark Gray
$success: #777777; // Gray
$warning: #999999; // Light Gray
$danger: #b2b2b2; // Lighter Gray

$background: #f2f2f2; // Light Gray (Background color)
$foreground: #000000; // Black (Foreground color)