@import './variables';


@import 'bulma/bulma';

body {
  font-family: 'Lato', sans-serif;
  background-color: $background;
  color: $foreground;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: $primary;
  color: $foreground;
  padding: 20px;
}

.navbar {
  background-color: $primary;
  color: $foreground;

  a {
    color: $foreground;

    &:hover {
      text-decoration: underline;
    }
  }
}


footer {
  background-color: $primary;
  color: $foreground;
  padding: 20px;
}


.button {
  background-color: $primary; 
  color: $background;
  border-color: $primary;
  &:hover {
    color: $background;
  }
}

.input {
  background-color: $background;
  color: $foreground;
}

a {
  color: $link;

  &:hover {
    text-decoration: underline;
  }
}


.container-image {
  border-radius: 0.250rem;
  max-width: 18.75rem;
  overflow: hidden;
  height: auto;
  @media screen and (min-width: 1140px) {
    height: 20rem;
  }
  &:hover {
    .drop-down-window {
      transform: translateX(0);
      opacity: 1;
    }
    .container-image__background--image {
      filter: blur(.0938rem);
      transform: scale(1);
    }
  }
  &__background {
    overflow: hidden;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);

    .drop-down-window {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 3;
      background-color: rgba($info, 0.2);
      opacity: 0;
      transform: translatey(-100%);
      transition: transform 0.3s ease-out, opacity 0.5s ease-out;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    }
    &--image {
      z-index: 0;
      width: 100%;
      object-fit: contain;
      height: 9.375rem;
      transform: scale(1.2);
      transition: all 0.3s;
    }
  }
}

.hv-100 {
  height: 100vh;
}


